* {
  box-sizing: border-box;
}

body {
  background: #333;
  font-family: sans-serif;
}

.wrapper {
  max-width: 840px;
  margin: 0 auto;
  background: #eee;
  padding: 20px;
}

#game canvas {
  width: 100%;
  max-width: 800px;
}
